html {
    background-color: bisque;
}

header nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
  }

  a,
  a:visited {
    text-decoration: none;
    color: #208ACC;
  }

  button.button {
    background-color: #E012AD;
    border: 2px solid transparent;
    border-radius: 4px;
    color: white;
    padding: 1em 1.5em;
    text-transform: uppercase;
  }

  button.button:hover {
    background-color: white;
    border-color: #E012AD;
    color: #E012AD;
  }

  button.button:active {
    background-color: lightblue;
  }

  input, textarea {
    border: 1px solid #E012AD;
    border-radius: 4px;
    padding: 1em 1.5em;
  }

  table {
    border: 1px solid;
  }

  td, th {
    padding: .25em .5em;
    text-align: center;
    border: 1px solid;
  }

  textarea {
    resize: none;
  }
