{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% comment %} <p>
                <a href="{% url 'create_project' %}">Create a new project</a>
            </p> {% endcomment %}
            {% if task_list|length ==  0 %}
                <p>You have no tasks</P>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in task_list %}
                            <tr>
                                <td>{{task}}</td>
                                <td>{{task.start_date|date:"M d, Y"}}</td>
                                <td>{{task.due_date|date:"M d, Y"}}</td>
                                {% if task.is_completed == True %}
                                    <td>Done</td>
                                {% else %}
                                    <td>
                                        <form method="post" action="{% url 'complete_task' task.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name ="is_completed" value="True">
                                            <button class="button">Complete</button>
                                        </form>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor%}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>

{% endblock content %}
